<br />
<div  class="row container"  >
    <div  class="input-field card col s6" *ngFor="let c of inmuebles" >
        <div class="card-image">
            <img src="http://localhost:3000/api/containers/imagen/download/{{c.Imagen}}" width="100" height="300">
        </div>
    </div> 
    <br /> <br />   <br /> 
    <div  class="input-field col s6" *ngFor="let c of inmuebles">
        <span>Departamento :{{c.departmentName}} - Ciudad: {{c.cityName}} </span><br>
        <span>Barrio:{{c.Barrio}} - Direccion:{{c.Direccion}}</span><br>
        <span>Precio : {{c.Precio}} - Estrato : {{c.Estrato}}</span><br>
        <span>Area: {{c.Area}} - Numero de Habitaciones : {{c.NumeroHabitaciones}}</span><br>
        <span>Numero Baños: {{c.NumeroBanos}} - Estado: {{c.EstadoInmueble}}</span><br>
        <p> {{c.Descripcion}}</p>
    </div>
    <a style="margin-left: 65%;" class="waves-effect waves-light btn"  (click)="SaveSolicitud()">Solicitar</a>
</div>
