<!-- inicio navbar -->
<nav>
 
  <div class="nav-wrapper azulito">
    <div class="logo-div">
    <a routerLink="/home" class="nav-link" ><img src="assets/images/Imagen1.jpg" class="logo"></a>
  </div>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" *ngIf="userLogged" href="#!" data-target="dropdown1">{{userName}}
        <i *ngIf="userLogged"class="material-icons right">account_circle</i></a></li>
      <li *ngIf="!userLogged "><a routerLink="/security/login"><h5>Login</h5></a></li>
      <li *ngIf="userLogged"><a routerLink="/security/logout">Logout</a></li>
      <li *ngIf="userLogged" ><a routerLink="/department/list">Department</a></li>
      <li *ngIf="userLogged"><a routerLink="/city/list">Ciudad</a></li>
      <li *ngIf="userLogged"><a routerLink="/inmueble/list">Inmueble</a></li>
    </ul>
  </div>
</nav>

<!-- barra desplegable -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>


<!-- componentes adaptado mobil -->
<ul class="sidenav" id="mobile-demo">
  <li><a *ngIf="!userLogged" routerLink="/security/login">Login</a></li>
  <li><a *ngIf="userLogged" routerLink="/security/logout">Logout</a></li>
  <li><a *ngIf="userLogged"routerLink="/department/list">Department</a></li>
  <li><a *ngIf="userLogged" routerLink="/city/list">Ciudad</a></li>
</ul>
