<br>
<div style="margin-left: 23%;" id="login-page" class="row container">
    <div class="col s10 z-depth-6 card-panel">
        <div class="row">
            <form [formGroup]="frmValidator" (ngSubmit)="SaveContrato()" class="col s12">
                <br>
                <div class="row" style="margin-left: 34%;">
                    <a href="assets/Contrato/contrato.pdf" download="Contrato" class="btn">
                        Descargar Archivo
                    </a>
                </div>

                <div style="margin-left: 23%;" class="row">
                    <input (change)=" fileChange($event)" formControlName="Documento" type="file"
                        class="custom-file-input btn" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <div class="warning-validation"
                        *ngIf="fv.Documento.errors && (fv.Documento.dirty || fv.Documento.touched)">
                        <strong *ngIf="fv.Documento.errors.required">Es Requerido</strong>
                    </div>
                </div>


                <br />
                <br />
                <button
                    [disabled]="fv.Documento.errors   "
                    class="btn waves-effect waves-light" style="margin-left: 38%;" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>