<br />
<div class="container">
    <div class="row">
        <form [formGroup]="fgValidation" class="col s12" id="reg-form">
            <div class="row">

                <!--Nombre-->
                <div class="input-field col s6">
                    <input id="nombre" formControlName="nombre" type="text" class="validate" required>
                    <label for="nombre">Nombre</label>
                    <div class="warning-validation" *ngIf="fg.nombre.errors && (fg.nombre.dirty || fg.nombre.touched)">
                        <strong *ngIf="fg.nombre.errors.required">
                            Nombre Requerido <br />
                        </strong>
                    </div>
                </div>

                <!--Apellido-->
                <div class="input-field col s6">
                    <input id="apellido" formControlName="apellido" type="text" class="validate" required>
                    <label for="apellido">Apellido</label>
                    <div class="warning-validation"
                        *ngIf="fg.apellido.errors && (fg.apellido.dirty || fg.apellido.touched)">
                        <strong *ngIf="fg.nombre.errors.required">
                            Apellido Requerido <br />
                        </strong>
                    </div>
                </div>

            </div>
            <div class="row">

                <!--Telefono-->
                <div class="input-field col s12">
                    <input id="telefono" formControlName="telefono" type="text" class="validate" required>
                    <label for="telefono">Telefono</label>
                    <div class="warning-validation"
                        *ngIf="fg.telefono.errors && (fg.telefono.dirty || fg.telefono.touched)">
                        <strong *ngIf="fg.telefono.errors.required">
                            Telefono Requerido <br />
                        </strong>
                        <strong *ngIf="fg.telefono.errors.maxlength">
                            Telefono debe tener hasta 12 caracteres
                        </strong>
                    </div>
                </div>

            </div>
            <div class="row">

                <!--Email-->
                <div class="input-field col s12">
                    <input id="email" formControlName="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <div class="warning-validation" *ngIf="fg.email.errors && (fg.email.dirty || fg.email.touched)">
                        <strong *ngIf="fg.email.errors.required">
                            Email Requerido <br />
                        </strong>
                        <strong *ngIf="fg.email.errors.minlength">
                            Email debe tener como minimo 7 caracteres <br />
                        </strong>
                        <strong *ngIf="fg.email.errors.maxlength">
                            Email debe tener hasta 15 caracteres <br />
                        </strong>
                        <strong *ngIf="fg.email.errors.email">
                            Debe ser un Email
                        </strong>
                    </div>
                </div>

            </div>
            <div class="row">

                <!--Nombre-->
                <div class="input-field col s12">
                    <input id="password" formControlName="password" type="password" class="validate" minlength="6"
                        required>
                    <label for="password">Password</label>
                    <div class="warning-validation"
                        *ngIf="fg.password.errors && (fg.password.dirty || fg.password.touched)">
                        <strong *ngIf="fg.password.errors.required">
                            Password Requerido <br />
                        </strong>
                        <strong *ngIf="fg.password.errors.minlength">
                            Password debe tener como minimo 7 caracteres <br />
                        </strong>
                        <strong *ngIf="fg.password.errors.maxlength">
                            Password debe tener hasta 12 caracteres <br />
                        </strong>
                    </div>
                </div>
                
            </div>
            <div class="row center">
                <div class="input-field col s12">
                    <div class="input-field col s12 ">
                        <button class="btn waves-effect waves-light col s12 #00897b teal darken-2" type="submit" name="action">Register
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<br />