<br />
<br />
<table style=" margin-left: 18%;"  class="responsive-table container">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Departamento
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Barrio
            </th>
            <th>
                Dirección
            </th>
            <th>
                Estado
            </th>
            <th>
                Estudiar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of solicitudes | paginate: { itemsPerPage: 8, currentPage: p }">
            <td>
                {{c.ClientId}}
            </td>
            <td>
                {{c.departmentName}}
            </td>
            <td>
                {{c.cityName}}
            </td>
            <td>
                {{c.Barrio}}
            </td>
            <td>
                {{c.Direccion}}
            </td>
            <td>
                {{c.Estado}}
            </td>
            <td *ngIf ="c.Estado ==  'enviado'">
                <button  class="btn waves-effect waves-light blue" type="button" name="action"
                    (click)="UpdateSolicitud(c.id)">Estudio
                </button> 
            </td>
            <td *ngIf ="c.Estado !=  'enviado'">
                <button  class="btn waves-effect waves-light green" type="button" name="action"
                   routerLink="/solicitud/decision/{{c.id}}" >Decisión
                </button> 
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls class="center" (pageChange)="p = $event"></pagination-controls>

<div id="modalConfirmation" class="modal">
    <div class="modal-content">
        <h4>Confirmation Window</h4>
        <p>Do you confirm remove this element?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn red">Cancel</a> &nbsp;
        <a class="modal-close waves-effect waves-green btn green" (click)="DeleteCity()">Confirm</a>

    </div>
</div>
