<br />
<a routerLink="/city/creator" class="waves-effect waves-light btn">New Register</a>
<br />
<br />

<table class="responsive-table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                City Name
            </th>
            <th>
                Department
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cityList | paginate: { itemsPerPage: 3, currentPage: p }">
            <td>
                {{c.code}}
            </td>
            <td>
                {{c.name}}
            </td>
            <td>
                {{c.departmentId}}
            </td>
            <td>
                <a routerLink="" class="waves-effect waves-light btn orange">Edit
                    <i class="material-icons right">edit</i>
                </a>
            </td>
            <td>
                <button class="btn waves-effect waves-light red" type="button" name="action">Delete
                    <i class="material-icons right">delete</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>


