<br />
<br />
<table style=" margin-left: 15%;" class="responsive-table container">
    <thead>
        <tr>

            <th>
                Imagen
            </th>
            <th>
                Dirección
            </th>
            <th>
                Barrio
            </th>
            <th>
                Tipo Oferta
            </th>
            <th>
                Tipo Inmueble
            </th>
            <th>
                Precio
            </th>
            <th>
                Fecha
            </th>
            <th>
                Estado
            </th>
            <th>
                Función
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of solicitudes | paginate: { itemsPerPage: 8, currentPage: p }">
            <td>
                <img id="myImg" src="http://localhost:3000/api/containers/imagen/download/{{c.Imagen}}" width="150" height="150">
            </td>
            <td>
                {{c.Direccion}}
            </td>
            <td>
                {{c.Barrio}}
            </td>
            <td>
                {{c.TipoOferta}}
            </td>
            <td>
                {{c.TipoInmueble}}
            </td>
            <td>
                {{c.Precio}}
            </td>
            <td>
                {{c.Fecha}}
            </td>
            <td>
                {{c.Estado}}
            </td>
            <td *ngIf="c.Estado ==  'enviado'">
                <button class="btn waves-effect waves-light red" type="button" name="action"
                    (click)="openConfirmation(c.id)">Delete
                    <i class="material-icons right">delete</i>
                </button>
            </td>
            <th *ngIf="c.Estado !=  'enviado'">
                <button class="btn waves-effect waves-light blue" type="button" name="action"
                    (click)="Detalles(c.id)">Detalles
                </button>
            </th>
            <td *ngIf="c.Estado == 'aceptada-co-deudor'">
                <button class="btn waves-effect waves-light green" type="button" name="action"
                    routerLink="/MisSolicitudes/codeudor/{{c.id}}">Doc 
                </button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls class="center" (pageChange)="p = $event"></pagination-controls>

<div id="modalConfirmation" class="modal">
    <div class="modal-content">
        <h4>Confirmation Window</h4>
        <p>Do you confirm remove this element?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn red">Cancel</a> &nbsp;
        <a class="modal-close waves-effect waves-green btn green" (click)="DeleteCity()">Confirm</a>
    </div>
</div>
