<br />
<br />
<table style=" margin-left: 18%;"  class="responsive-table container">
    <thead>
        <tr>
            
            <th>
                Imagen
            </th>
            <th>
                Dirección
            </th>
            <th>
                Barrio
            </th>
            <th>
                Tipo Oferta
            </th>
            <th>
                Tipo Inmueble
            </th>
            <th>
                Precio
            </th>
            <th>
                Fecha
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of solicitudes | paginate: { itemsPerPage: 8, currentPage: p }">
            <td>
                <img  id="myImg" src="http://localhost:3000/api/containers/imagen/download/{{c.Imagen}}" alt="Snow" width="100" height="150" style="width:100%; max-width: 300px">
            </td>
            <td>
                {{c.Direccion}}
            </td>
            <td>
                {{c.Barrio}}
            </td>
            <td>
                {{c.TipoOferta}}
            </td>
            <td>
                {{c.TipoInmueble}}
            </td>
            <td>
                {{c.Precio}}
            </td>
            <td>
                {{c.Fecha}}
            </td>
            <td>
                {{c.Estado}}
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls class="center" (pageChange)="p = $event"></pagination-controls>

<div id="modalConfirmation" class="modal">
    <div class="modal-content">
        <h4>Confirmation Window</h4>
        <p>Do you confirm remove this element?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn red">Cancel</a> &nbsp;
        <a class="modal-close waves-effect waves-green btn green" (click)="DeleteCity()">Confirm</a>
    </div>
</div>

<div id = "myModal" class="modal">
    <span class="close">& times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>