<div class="container section">
    <br>
    <div class="row">
      <div class="col s4">
        <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/D.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Descripcion<i
                class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Descripcion<i class="material-icons right">close</i></span>
            <p>Somos una compañia que permite una facilidad a la hora de adquirir o alquilar propiedad</p>
          </div>
        </div>
      </div>
  
      <div class="col s4 ">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/M.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Mision<i
                class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Mision<i class="material-icons right">close</i></span>
            <p>En nuestra empresa el objetivo es brindar a la comunidad una herramienta facil de usar y efectiva a la hora de buscar un hogar</p>
          </div>
        </div>
      </div>
  
      <div class="col s4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/V.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Vision<i
                class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Vision<i class="material-icons right">close</i></span>
            <p>Nuestra meta a largo plazo es poder abarcar propiedades fuera de colombia y ser una herramienta lider en nuestro continente</p>
          </div>
        </div>
      </div>
    </div>
    <img style="width: 80%;height:20%;margin: 5%;"src="assets/images/Imagen1.jpg">
</div>  
   